<%- include("../partials/header.ejs")%>  
        <div class="subcategory1">
		
            <h2><%= event.name%></h2>
        <div class="buttons">
            <%if(user == event.host._id){%>
            <form>
            <button type = "submit" formmethod = "GET" formaction="/events/<%= event.id%>/edit">Update</button>
            <button type = "submit" formmethod = "POST" formaction="/events/<%= event.id%>?_method=DELETE">Delete</button>
            </form>
            <%}%>
        </div>
        <br>
        <div class = "container-img">
            <div class = task1-img>
            <img src="<%= event.image%>" alt = task1-image width="90" height="70"/>
            </div>
            <div class = text-img>
                 <h4>Hosted By <%= event.host.firstName + ' ' +event.host.lastName%></h4>
                 <h4>When: <%= event.Date%></h4>
                 <h4>Timings: <%= event.start_time%> - <%= event.end_time%></h4>
                 <h4>Where: <%= event.location%></h4>
            </div>
            </div>
            <h3>Event Description</h3>
            <p><%= event.Description%></p>
        </div>
 <%- include("../partials/footer.ejs")%>